.sidebar-container{
    min-height: 100vh;
    border-right: 1px solid lightgrey;
    width:200px;
    padding: 20px;
    box-sizing: border-box;
    ul{
        list-style: none;
        padding: 0;
        li{
            margin-bottom: 10px;
        }
    }
    >div>img{
        width: 150px;
    }
}
.sidebar-link{
    text-decoration: none;
    color:black;
    &:hover {
        text-decoration: none;
        color: orange;
        font-weight: bold;
    }
    &.active { // 선택된 상태의 스타일
        color: orange;
        font-weight: bold;
    }
}